/*seteando nuestra página*/
body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #303030;
  margin: 0;
  padding: 0;
}

/*Clases reutilizables*/
.text-uppercase {
  text-transform: uppercase;
}

.box-content {
  display: inline-block;
  padding: 35px 0;
  text-align: center;
  width: 33%;
}

.box-header {
  display: inline-block;
}

/*Estilos propios*/
li {
  display: inline;
  list-style: none;
  padding: 10px;
}

li a {
  color: inherit;
  text-decoration: none;
}

li a:hover {
  color: #f6a831;
}

.logo-home {
  width: 200px;
}

header {
  position: relative;
}

nav {
  position: absolute;
  right: 5%;
  top: 50%;/*se posiciona a la mitad del alto total de la caja padre <header>*/
  transform: translateY(-50%); /*con esta propiedad transformamos un elemento,
  para este caso; se usa translateY, porque quiero transladar en el eje Y 50% para arriba,
  así quedaría <nav> centrado(si se sabe el alto de la caja, se colocaría la mitad del tamaño) */
}

.logo-square {
  width: 10%;
}

button {
  background-color: #f6a831;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  outline: none; /*quita el borde azul del botón*/
}

button:hover {
  background-color: #aa7425;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 60px;
  color: #303030;
  transition: 1s; /*se coloca la transición acá y no en el hover, con el fin de que ésta funcione
  al poner y quitar el mouse; si se coloca solo en la pseudo clase :hover, solo funcionaría
  al posicionar el mouse, pero no al sacarlo. Pruébalo en clase!!*/
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {
  color: #f6a831;
}

section, footer {
  padding: 0 5%;
  text-align: center;
}

footer {
  background-color: #303030;
  color: #ffffff;
  padding: 5px;
}